.player { 
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.overlay { /* Capa de superposición para el efecto de desenfoque y fondo oscuro */
  backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.7);
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-card { /* Tarjeta del reproductor con fondo oscuro y bordes redondeados */
  text-align: center;
  color: rgb(253, 253, 253);
  width: 300px;
}

.cover {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.controls {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.controls button {
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.controls button:first-child { /* Estilos para el botón de reproducir/pausar */
  background: linear-gradient(135deg, #e47867 0%, #963021 100%);
  color: white;
  min-width: 140px;
}

.controls button:first-child:hover { /* Efecto hover para el botón de reproducir/pausar */
  transform: scale(1.1);
  box-shadow: 0 6px 20px rgba(206, 95, 68, 0.4);
}

.controls button:first-child:active {
  transform: scale(0.98);
}

.controls button:last-child { /* Estilos para el botón de siguiente */
  background: linear-gradient(135deg, #e4ce9b 0%, #a59338 100%);
  color: white;
  min-width: 140px;
}

.controls button:last-child:hover { /* Efecto hover para el botón de siguiente */
  transform: scale(1.1);
  box-shadow: 0 6px 20px rgba(245, 233, 189, 0.4);
}

.controls button:last-child:active {
  transform: scale(0.98);
}

.play-btn {
  font-size: 40px;
}