.volumen-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.volume-btn {
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  background: #aa3f2f;
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}

.volume-btn:hover {
  transform: scale(1.08);
  background: #c97163;
}

.slider-popup {
  position: absolute;
  bottom: 80px;
  width: 50px;
  height: 140px;
  background: #aa3f2f;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.volumen-slider {
  -webkit-appearance: none;
  appearance: none;

  width: 100px;
  height: 6px;

  transform: rotate(-90deg);

  background: #c97163;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.volumen-slider::-webkit-slider-runnable-track {
  height: 6px;
  background: #c97163;
  border-radius: 10px;
}

.volumen-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 18px;
  height: 18px;
  border-radius: 50%;

  background: #ffffff;
  border: none;
  cursor: pointer;

  margin-top: -6px;
}